body{
    width: 100%;
}
#header {
    margin-bottom: 20px;
    background: #1c1c1c;
    color: #d5d5d5;
    /* cursor: default;*/
    left: 0;
    line-height: 5em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    /* z-index: 10001; */
  }
#header .inner {
    max-width: 75em;
    width: calc(100% - 3em);
    margin: 0 auto;
    position: relative;
}
#header a {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    text-decoration:none;
}
#wrap{
    overflow: hidden;
}
#sidebar{
    float: left;
    width: 250px;
    background-color: greenyellow;
    margin-right: -100px;
    /* padding-right: 200px; */
}
#content{
    float: right;
    width: 100%;
    background-color: indigo;
}

/* #sidebar{
    /* width: 200px;
    float: left; 
    text-align: left;
} */
/* #content{
    float: right;
    width: 100%;
    text-align: center;
} */
#title {
    color: darkblue;
    width: 580px;
    padding: 20px;
    margin-bottom: 20px;
    float: center;
    /* border: 1px solid #bcbcbc; */
}
#footer {
    position:fixed; 
    left:0px; 
    bottom:0px; 
    height:60px; 
    width:100%; 
    background:grey; 
    color: white;
    font-family:'Verdana';
	font-size:12pt;
    text-align: center; 
}

