a{text-decoration: none; color: inherit;}
body {
    font-family:'Verdana';
    font-size:12pt;
    text-align: center;
    width: 100%;
    background-color: antiquewhite; 
    color: gray;
}
table{
	margin:auto;
}
.layout{
	font-size:20px;
}
.photo{
	width:200px
}
#list{
    text-align: left;
}
#move_title{
    color: mediumvioletred
}
#move{
    margin-bottom: 20px;
}
.footer {
    position:absolute;   
    background:#ccc;
    width: 100%;
}